version = "v0.4.0"
description = "Seddit v0.4.0 - A Python Script for counting the number of instances a collection of " \
              "terms get said on different subreddits",

client_secret = "<Reddit API Client Secret>"
client_id = "<Reddit API Client ID>"
user_agent = "<platform>:<app ID>:<version string> (by u/<Reddit username>)"

cache_file_path = "sedditCache.json"
cache_dir_path = "cache"
cache_hot_ttl = 14400
cache_new_ttl = 1800
cache_top_ttl = 2592000
enabled_feeds = ["hot", "top"]

filtered_words_file = "words.csv"
rank_cutoff = 15
search_terms = None
term_group = None
threshold = 5

ignore_regex = None
require_regex = None


  "version": "v0.4.0",
  "description": "Seddit v0.4.0 - A Python Script for counting the number of instances a collection of terms get said on different subreddits",

  "client_secret": "<Reddit API Client Secret>",
  "client_id": "<Reddit API Client ID>",
  "user_agent": "<platform>:<app ID>:<version string> (by u/<Reddit username>)",

  "cache_file_path": "sedditCache.json",
  "cache_hot_ttl": 14400,
  "cache_new_ttl": 1800,
  "cache_top_ttl": 2592000,
  "enabled_feeds": ["hot", "top"],

  "filtered_words_file": "words.csv",
  "rank_cutoff": 15,
  "search_terms": null,
  "term-group": null,
  "threshold": 5,

  "ignore_regex": null,
  "require_regex": null
}