version = "v0.5.0"
description = "Seddit v0.5.0 - A Python Script for counting the number of instances a collection of " \
              "terms get said on different subreddits",

# PRAW
client_secret = "<Reddit API Client Secret>"
client_id = "<Reddit API Client ID>"
user_agent = "<platform>:<app ID>:<version string> (by u/<Reddit username>)"

# Cache settings
cache_dir_path = "cache"
cache_ttl = {
    "hot": 14400,
    "new": 1800,
    "top": 2592000
}

# Post filters
filtered_words_file = "filters/default.csv"
rank_cutoff = 15
search_terms_file = None
term_group_file = None
threshold = 5

# Regex filters
ignore_title_regex = None
require_title_regex = None

ignore_word_regex = None
require_word_regex = None